* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* overflow-x: hidden; */
}

input, button {
  outline: none;
  border: none;
}

li {
  list-style: none;  
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

